@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.palette-white {
    --color-base: #fff;
    --color-light: #f8f8f8;
    --color-mid: #333;
    --color-text: #000;
    --color-dark-two: rgba(0, 0, 0, 0.02);
    --color-header: var(--color-base);
    background-color: var(--color-base)
}

.palette-dark {
    --color-base: #000;
    --color-light: #333;
    --color-mid: #f8f8f8;
    --color-text: #fff;
    --color-header: #3f3f3f;
    --color-dark-two: rgba(255, 255, 255, 0.1);
    background-color: var(--color-base)
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: gotham-book, sans-serif;
    font-size: 14px;
    line-height: 1.75
}

h1, h2, h3 {
    font-family: gotham-book, sans-serif;
    font-size: 24px;
    line-height: 1.6;
    color: var(--color-text)
}

p a {
    font-family: gotham-medium, sans-serif;
    position: relative;
    color: var(--color-text)
}

p a:after {
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: var(--color-light);
    content: '';
    transition-duration: 0.25s;
}

ol, ul {
    list-style: none;
    color: var(--color-mid);
}

.template {
    font-size: 18px;
}

.template h1 {
    font-size: 38px;
    line-height: 1.4;
    letter-spacing: -1px;
}


.template .links {
    float: left;
    position: relative;
}

.template .links .link {
    float: left;
    position: relative;
    margin-right: 10px;
    font-family: gotham-bold, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    opacity: 0;
}

.template .links .link .image {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--color-dark-two);
    text-align: center;
    line-height: 40px;
    transition: 0.25s ease-in-out;
}

.template .links .link .image .social-icon {
    width: 14px;
    height: 14px;
    background-color: var(--color-text)
}

.template .links .link .name {
    position: absolute;
    top: -31px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease-in-out;
    color: var(--color-text);
    opacity: 0;
    visibility: hidden
}

.template .links .link:hover .image {
    border-color: var(--color-text)
}

.template .links .link:hover .name {
    top: -34px;
    opacity: 1;
    visibility: visible
}

.template .links .link.in-view-viewed {
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: fadein;
    animation-delay: 0.25s
}

.container {
    width: 100%;
    float: left;
    position: relative
}

.container .inner {
    width: calc(100% - 120px);
    max-width: 1280px;
    position: relative;
    margin: 0 auto
}


#header {
    background-color: var(--color-header);
    padding-top: 70px;
    padding-bottom: 40px;
}


#header .avatar {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    background-color: var(--color-text)
}

#header .title {
    float: left;
    margin-top: 9px
}


#header .title h2 {
    font-family: gotham-book, sans-serif;
    font-size: 16px
}

#header .title p {
    font-size: 12px;
    color: var(--color-text);
}

#header .links {
    float: right;
    margin-top: 10px
}


.intro {
    margin-top: 91px;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: fadein;
    animation-delay: 0.25s
}


.intro .content {
    padding: 0 30% 0 0
}


.intro .content h1 {
    position: relative;
    padding: 0 0 29px
}

.intro .content h1:after {
    width: 100%;
    max-width: 240px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--color-text);
    content: ''
}

.intro .content p {
    margin-top: 29px;
    color: var(--color-text);
}

.blog {
    margin-top: 111px
}


.blog .content {
    width: calc(100% + 15px);
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(-15px)
}

.blog .entry {
    margin: 0 15px 30px 15px;
    padding: 60px 60px 54px;
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
    transition: 0.25s ease-in-out;
    cursor: pointer;
    background-color: var(--color-dark-two);
    border-radius: 10px;
}

.blog .entry .in-view-viewed {
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: fadein;
    animation-delay: 0.25s
}

.blog .entry .image {
    width: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0 0.25vw 1vw -0.2vw rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-in-out;
    border-radius: 10px
}

.blog .entry .image:before {
    padding-top: 75%;
    display: block;
    content: ''
}

.blog .entry:hover .image {
    transform: translateY(-10px);
    box-shadow: 0 0.25vw 2vw -0.2vw rgba(0, 0, 0, 0.075)
}


.blog .entry .meta {
    width: 100%;
    float: left;
    padding: 30px 60px 0 0;
}


.blog .entry .meta .text {
    width: 100%;
    float: left
}

.blog .entry .meta .text h3 {
    font-family: gotham-book, sans-serif;
    font-size: 16px;
    color: var(--color-text);
    overflow: auto;
}

.blog .entry .meta .text p {
    font-size: 12px;
    margin-top: 0;
    overflow: auto;
}

#my-life {
    margin-top: 111px
}


#my-life .content {
    width: calc(100% + 15px);
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translateX(-15px)
}

#my-life .entry {
    margin: 0 15px 30px 15px;
    padding: 60px 60px 54px;
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
    transition: 0.25s ease-in-out;
    cursor: pointer;
    background-color: var(--color-dark-two);
    border-radius: 10px;
}

#my-life .entry .in-view-viewed {
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: fadein;
    animation-delay: 0.25s
}

#my-life .entry .image {
    width: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0 0.25vw 1vw -0.2vw rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-in-out;
    border-radius: 10px
}



#my-life .entry .image:before {
    padding-top: 75%;
    display: block;
    content: ''
}

#my-life .entry .meta .text h3 {
    font-family: gotham-book, sans-serif;
    font-size: 16px;
    color: var(--color-text);
    overflow: auto;
}

#my-life .entry:hover .image {
    transform: translateY(-10px);
    box-shadow: 0 0.25vw 2vw -0.2vw rgba(0, 0, 0, 0.075)
}


#my-life .entry .meta {
    width: 100%;
    float: left;
    padding: 30px 60px 0 0;
}


#my-life .entry .meta .text {
    width: 100%;
    float: left
}

#my-life .entry .meta .text p {
    font-size: 12px;
    margin-top: 0;
    overflow: auto;
}

.text p {
    color: var(--color-text);
}

#footer {
    margin: 20px 0
}


#footer .links {
    width: 100%;
    padding-bottom: 30px
}

#footer .links:after {
    width: 100%;
    max-width: 240px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--color-text);
    content: ''
}

#footer .text {
    width: 100%;
    max-width: 480px;
    float: left;
    margin-top: 21px
}

#footer .text p {
    font-size: 14px
}

.social-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color-text);
    transform: translate(-50%, -50%)
}

.social-icon.none {
    width: 12px;
    height: 12px;
    border-radius: 50%
}

.social-icon.spotify {
    -webkit-mask: url(static/svg/spotify.svg) no-repeat center;
    mask: url(static/svg/spotify.svg) no-repeat center
}

.social-icon.telegram {
    -webkit-mask: url(static/svg/telegram.svg) no-repeat center;
    mask: url(static/svg/telegram.svg) no-repeat center
}

.social-icon.twitter {
    -webkit-mask: url(static/svg/twitter.svg) no-repeat center;
    mask: url(static/svg/twitter.svg) no-repeat center
}

.social-icon.github {
    -webkit-mask: url(static/svg/github.svg) no-repeat center;
    mask: url(static/svg/github.svg) no-repeat center
}

.social-icon.instagram {
    -webkit-mask: url(static/svg/instagram.svg) no-repeat center;
    mask: url(static/svg/instagram.svg) no-repeat center
}


.social-icon.vk {
    -webkit-mask: url(static/svg/vk.svg) no-repeat center;
    mask: url(static/svg/vk.svg) no-repeat center
}

.social-icon.friend {
    -webkit-mask: url(static/svg/friend.svg) no-repeat center;
    mask: url(static/svg/friend.svg) no-repeat center;

}

.fadein {
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.fadein-delay {
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}


@media (max-width: 1180px) {
    .blog .entry {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px)
    }

    #my-life .entry {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px)
    }
}

@media (max-width: 1080px) {
    .blog .entry {
        padding: 30px 30px 24px
    }

    .blog .entry .meta {
        padding: 20px 30px 0 0
    }

    #my-life .entry {
        padding: 30px 30px 24px
    }

    #my-life .entry .meta {
        padding: 20px 30px 0 0
    }
}

@media (max-width: 780px) {
    .container .inner {
        width: calc(100% - 60px)
    }

    .blog .entry {
        flex-basis: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }

    #my-life .entry {
        flex-basis: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
}


@media (max-width: 680px) {
    #header {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #header .title {
        width: 100%;
        margin-top: 21px
    }

    #header .links {
        width: 100%;
        float: left;
        margin-top: 24px
    }

    .intro {
        margin-top: 71px
    }

    .intro .content {
        padding: 0
    }

    .blog {
        margin-top: 81px
    }

    #my-life {
        margin-top: 81px
    }

    #footer {
        margin: 60px 0 124px
    }
}

@media (max-width: 540px) {
    .template {
        font-size: 16px
    }

    .template h1 {
        font-size: 28px
    }

    .blog .entry {
        padding: 15px;
    }

    #my-life .entry {
        padding: 15px;
    }

    .blog .entry:not(:first-of-type) {
        margin-top: 30px;
    }

    #my-life .entry:not(:first-of-type) {
        margin-top: 30px;
    }

    #footer {
        margin: 54px 0 124px
    }
}


.text {
    margin-bottom: 12px;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
    border-radius: 27px;
    box-shadow: inset 0 0 0 1px #bdc3c7;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
}

.switch input {
    display: none;
}

.switch input:checked + span {
    background-color: #3498db;
    left: calc(100% - 25px);
}

.switch span {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: rgb(150, 150, 150);
    top: 1px;
    left: 0;
    transition: all .4s;
}